  * {
    line-height: 1.5em;
    box-sizing: border-box;
   -moz-box-sizing: border-box;
  }

body {
  font-size: 13px;
  font-family: "Helvetica Neue", Arial;
  margin: 0; padding: 0;
  overflow-y: scroll;
}

article {
  margin: 0; padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul {
background-color: white; 
list-style: none;

display: inline-block;
padding-top: 1em; padding-bottom: 1em;
padding-left: 1em;
margin-left: 1em;
}

ul li {
line-height: 200%;
margin-right: 1em;
}

ul li span {
color: #ccc;
}

ul li:hover {
  background-color: rgba(255,0,128,0.5);
}

.new {
border-top: 1px solid #ccc;
text-align: right;
}

.ok {
background-color: rgba(0, 255, 0, 0.5);
}

.cancel {
background-color: rgba(255, 0, 0, 0.5);
}

.hint {
color: #ccc;
}

.hint:hover {
  color: red; 
}


body {
height: 100%;
}

p {
  padding-left: 1em;
}

#viewport {
  padding-left: 1em;
  min-height: 100%; height: 100%;
}